<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="true">

    <testsuites>
        <testsuite name="XPaymen Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="API_KEY" value="XPI2NzrwM1y7YmenQu6BcdgLlbXLEaNCrZnkw3svgAdsNnWMsYq61ZgsxGL1CMx1"/>
    </php>

    <coverage processUncoveredFiles="true">
        <include>
            <directory>./src</directory>
        </include>
    </coverage>
</phpunit>